.forAllSecondaryBondsLabel {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: italic;
  color: #47474d;
  user-select: none;
}

.notesText {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: italic;
  color: #47474d;
  user-select: none;
}

.selectSecondaryBondsButton {
  margin: 0px 0px 13px 3px;
  padding: 4px 0px;
  width: 225px;
  text-align: center;

  /* use before pseudo-element for border and box shadow */
  border: none;
  border-radius: 40px;
  outline: none;
  box-shadow: none;
  position: relative;
  isolation: isolate;

  background-color: transparent;

  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  color: #0c0c60;

  cursor: pointer;
  user-select: none;
}

.selectSecondaryBondsButton::before {
  content: "";
  border: 1px solid rgba(201, 201, 221, 0.99);
  border-radius: 40px;
  box-shadow: 0 3px 3px rgba(224, 224, 238, 0.05);

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.selectSecondaryBondsButton:hover::before {
  transform: scale(1.05);
  transition: transform 0.3s;
}

.selectSecondaryBondsButton:active::before {
  transform: scale(1);
  transition: transform 0.05s;
}
