.shapeField {
  margin-top: 14px;

  display: flex;
  align-items: center;
}

.labelSpacer {
  width: 6px;
}

.shapeOption {
  min-width: 55px;
  text-align: center;

  border-width: 1px;
  border-style: solid;
  border-radius: 12px;
  padding: 1px 0px;

  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #0d0d0e;

  user-select: none;
  -webkit-user-select: none;
}

.toggledShapeOption {
  border-color: transparent;
  background-color: rgba(229, 229, 238, 0.73);
  cursor: auto;
}

.untoggledShapeOption {
  border-color: white;
  background-color: white;
  cursor: pointer;
}

.untoggledShapeOption:hover {
  border-color: rgba(201, 201, 213, 0.94);
}

.optionsSpacer {
  width: 4px;
}
