.clickable {
  cursor: pointer;
}

.folderIcon {
  width: 32px;
  cursor: pointer;
}

.label {
  min-width: 160px;
  cursor: pointer;
}

.clickable:hover .folderIcon {
  transform: scale(1.225);
  filter: drop-shadow(0 4px 4px rgba(0,0,0,0.1));
  transition: transform 0.25s ease-in-out;
}
