.optionButton {
  margin: 0px;

  border-width: 1px;
  border-style: solid;
  border-radius: 60px;

  min-width: 44px;
  min-height: 21px;

  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 500;
  color: #0a0a0a;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  user-select: none;
  -webkit-user-select: none;
}

.toggledOptionButton {
  border-color: rgb(19, 19, 20);
  cursor: auto;
}

.untoggledOptionButton {
  border-color: white;
  cursor: pointer;
}

.untoggledOptionButton:hover {
  border-color: rgba(189, 189, 201, 0.97);
}

.untoggledOptionButton:active {
  border-color: rgba(117, 117, 125, 1);
}

.roundButton::before {
  content: "";
  width: 16px;
  height: 0px;
  border-width: 8px 0px 0px 0px;
  border-style: solid;
  border-color: #1f1f22;
  border-radius: 8px 8px 0px 0px;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -8px;
}

.squareButton::before {
  content: "";
  width: 16px;
  height: 8px;
  background-color: #1f1f22;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -8px;
}

.strokeLinecapSelect {
  min-width: 149px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.strokeLinecapField {
  display: flex;
  flex-direction: row;
  align-self: start;
  align-items: center;
  justify-content: space-between;
}
