.optionButton {
  margin: 0 2px;
  min-width: 55px;
  border-width: 1px;
  border-style: solid;
  border-radius: 12px;
  padding: 1px 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #151517;
  text-align: center;
}

.toggledOptionButton {
  border-color: #eaeaf0;
  background-color: #eaeaf0;
  cursor: auto;
}

.untoggledOptionButton {
  border-color: white;
  background-color: white;
  cursor: pointer;
}

.untoggledOptionButton:hover {
  border-color: #d0d0da;
}

.strokeLinecapSelect {
  min-width: 172px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.strokeLinecapField {
  display: flex;
  flex-direction: row;
  align-items: center;
}
