.optionButton {
  margin: 0 2px;
  min-width: 55px;
  border-width: 1px;
  border-style: solid;
  border-radius: 12px;
  padding: 1px 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #1a1a1d;
  text-align: center;

  user-select: none;
  -webkit-user-select: none;
}

.toggledOptionButton {
  border-color: transparent;
  background-color: rgba(229, 229, 238, 0.73);
  cursor: auto;
}

.untoggledOptionButton {
  border-color: white;
  background-color: white;
  cursor: pointer;
}

.untoggledOptionButton:hover {
  border-color: rgba(201, 201, 213, 0.94);
}

.strokeLinecapSelect {
  min-width: 172px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.strokeLinecapField {
  display: flex;
  flex-direction: row;
  align-items: center;
}
