.askBeforeLeavingToggle {
  cursor: pointer;
}

.pillContainer {
  border-radius: 10px;
  width: 144px;
  padding-top: 2px;
  padding-bottom: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 10.5px;
  cursor: pointer;
}

.spacer {
  width: 6px;
}

.check {}

.askBeforeLeavingToggle:hover .pillContainer {
  transform: scale(1.012);
  transition: transform 0.02s;
}

.askBeforeLeavingToggle:active .pillContainer {
  transform: scale(1);
  transition: transform 0s;
}

.on .pillContainer {
  border: none;
  background-color: #202024;
}

.on:hover .pillContainer {
  box-shadow: 0 3px 3px rgba(193, 193, 212, 0.64);
}

.on .text {
  font-weight: 600;
  color: white;
}

.on .spacer {
  display: block;
}

.on .check {
  display: block;
}

.off .pillContainer {
  border: 1px solid #d2d2db;
  background-color: white;
}

.off:hover .pillContainer {
  box-shadow: 0 3px 3px rgba(222, 222, 236, 0.38);
}

.off .text {
  font-weight: 600;
  color: #9c9ca5;
}

.off .spacer {
  display: none;
}

.off .check {
  display: none;
}
