.askBeforeLeavingToggle {
  cursor: pointer;
}

.pillContainer {
  border-radius: 10px;
  width: 144px;
  padding-top: 2px;
  padding-bottom: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 10.5px;
  cursor: pointer;
}

.spacer {
  width: 6px;
}

.check {}

.on .pillContainer {
  border: none;
  background-color: #242428;
}

.on:hover .pillContainer {
  box-shadow: 0 0 4px #a4a4b0;
}

.on .text {
  font-weight: 600;
  color: white;
}

.on .spacer {
  display: block;
}

.on .check {
  display: block;
}

.off .pillContainer {
  border: 1px solid #d2d2db;
  background-color: white;
}

.off:hover .pillContainer {
  box-shadow: 0 0 4px #e5e5ed;
}

.off .text {
  font-weight: 600;
  color: #9c9ca5;
}

.off .spacer {
  display: none;
}

.off .check {
  display: none;
}
