.askBeforeLeavingToggle {
  border-radius: 60px;

  cursor: pointer;
}

.pillContainer {
  width: 144px;
  height: 20px;

  /* use before pseudo-element for border and box shadow */
  border: none;
  border-radius: 60px;
  box-shadow: none;
  position: relative;
  isolation: isolate;

  display: flex;
  align-items: center;
  justify-content: center;
}

.pillContainer::before {
  content: "";
  border-width: 1px;
  border-style: solid;
  border-radius: 60px;

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}

.text {
  font-size: 11px;
  cursor: pointer;
}

.spacer {
  width: 6px;
}

.check {}

.askBeforeLeavingToggle:hover .pillContainer::before {
  transform: scale(1.05);
  transition: transform 0.25s;
}

.askBeforeLeavingToggle:active .pillContainer::before {
  transform: scale(1);
  transition: transform 0s;
}

.on .pillContainer::before {
  border-color: #1c1c1f;
  background-color: #1c1c1f;
  box-shadow: 0 3px 3px rgba(208, 208, 226, 0.29);
}

.on .text {
  font-weight: 600;
  color: white;
}

.on .spacer {
  display: block;
}

.on .check {
  display: block;
}

.off .pillContainer::before {
  border-color: rgba(205, 205, 223, 0.99);
  background-color: white;
  box-shadow: 0 3px 3px rgba(221, 221, 235, 0.2);
}

.off .text {
  font-weight: 600;
  color: rgba(140, 140, 152, 0.95);
}

.off .spacer {
  display: none;
}

.off .check {
  display: none;
}
