.fieldLabel {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #535353;
  user-select: none;
}

.textInput {
  border: 1px solid #d6d6d6;
  border-radius: 2px;
  padding: 3px 6px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #2a2a2a;
}

.textInput:hover {
  border-color: #333333;
}

.textInput:focus {
  border-color: #333333;
  outline: none;
}

.subsequenceFieldLabel {
  display: flex;
  flex-direction: column;
}

.subsequenceFieldTextarea {
  margin-top: 4px;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 2px;
  padding: 3px 6px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #4b4b4b;
}

.subsequenceFieldTextarea::placeholder {
  font-style: italic;
  color: #717171;
}

.insertPositionFieldLabel {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.insertPositionFieldInput {
  margin-right: 8px;
  width: 48px;
}

.applySubstructureLink {
  margin-left: 12px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
  color: #1528c9;
  cursor: pointer;
}

.applySubstructureLink:hover {
  text-decoration: underline;
}
