.optionsToggle {
  margin: 8px 0 0 2px;
  align-self: start;
  outline: none;

  border: none;
  border-radius: 40px;
  padding: 1px 14px;
  background-color: rgb(242, 242, 255);

  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  color: rgb(20, 20, 98);

  cursor: pointer;

  user-select: none;
  -webkit-user-select: none;
}

.optionsToggle:hover {
  background-color: rgb(228, 228, 255);
  transition: background-color 0.02s;
}

.optionsToggle:active {
  outline: none;
}

.numMatchesView {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: italic;
  color: #242424;
}

.numberingOffsetView {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: italic;
  color: #707070;
}

.startPositionColumnLabel {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 700;
  font-style: italic;
  color: black;
}

.matchingMotifColumnLabel {
  margin-left: 6px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  color: #6f6f6f;
}

.matchView {
  border-radius: 4px;
  padding: 1px 4px;
  cursor: pointer;
}

.matchView:hover {
  background-color: #e8e8e8;
}

.startPositionView {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: black;
  text-align: end;
  cursor: pointer;
}

.matchingMotifView {
  margin-left: 8px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  color: #636363;
  cursor: pointer;
}
