.whiteLeftBorder {
  border-width: 0px 0px 0px 1px;
  border-style: solid;
  border-color: white;
}

.grayishLeftBorder {
  border-width: 0px 0px 0px 1px;
  border-style: solid;
  border-color: rgb(216, 216, 230);
}
