.textInput {
  border: 1px solid #d2d2dd;
  border-radius: 2px;
  width: 6ch;
  padding: 3px 6px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #161617;
}

.textInput:hover {
  border-color: #414146;
}

.textInput:focus {
  border-color: #414146;
  outline: none;
}

.textInput::placeholder {
  font-style: italic;
  font-weight: 500;
  color: #70707a;

  /* necessary for Firefox */
  opacity: 1;
}
