.textInput {
  border: 1px solid #d6d6d6;
  border-radius: 2px;
  width: 6ch;
  padding: 3px 6px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #2a2a2a;
}

.textInput:hover {
  border-color: #333333;
}

.textInput:focus {
  border-color: #333333;
  outline: none;
}
