.textInput {
  border: 1px solid #d4d4de;
  border-radius: 2px;
  width: 6ch;
  padding: 3px 6px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #19191b;
}

.textInput:hover {
  border-color: #4f4f56;
}

.textInput:focus {
  border-color: #4f4f56;
  outline: none;
}

.textInput::placeholder {
  font-style: italic;
  font-weight: 500;
  color: #797983;

  /* necessary for Firefox */
  opacity: 1;
}
