.textArea {
  border: 1px solid #d4d4de;
  border-radius: 2px;
  padding: 3px 6px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #2a2a2a;
}

.textArea:hover {
  border-color: #333333;
}

.textArea:focus {
  border-color: #333333;
  outline: none;
}

.textArea::placeholder {
  font-style: italic;
  font-weight: 500;
  color: #74747d;
}
