/* for the input element of the field */
.input {
  border: 1px solid rgba(0,0,0,0.15);
  padding: 3px 6px 3px 6px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  color: #202020;
  border-radius: 2px;
}

.input:hover {
  border-color: rgba(0,0,0,0.95);
  transition-duration: 0.25s;
}

.input:focus {
  outline: none;
  border-color: rgba(0,0,0,0.95);
}

.input::placeholder {
  font-style: italic;
  color: rgba(0,0,0,0.65);
}

.input::-webkit-input-placeholder {
  font-style: italic;
  color: rgba(0,0,0,0.65);
}

/* for the text labeling the field */
.label {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  color: #333333;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  cursor: default;
}
