.ctFileInput {
  border: 1px solid #d3d3e7;
  border-radius: 60px;
  box-shadow: 0 3px 3px rgba(233, 233, 244, 0.2);

  width: 600px;

  padding: 12px 0px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.ctFileInput:hover {
  transform: scale(1.05);
  transition: transform 0.25s;
}

.ctFileInput:active {
  transform: scale(1);
  transition: transform 0s;
}

.defaultText {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: #07075d;

  cursor: pointer;

  user-select: none;
  -webkit-user-select: none;
}

.CT {
  font-weight: 700;
  color: #08084b;
}

.fileName {
  width: 510px;

  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: #090958;

  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  cursor: pointer;

  user-select: none;
  -webkit-user-select: none;
}
