.ctFileInput {
  border-radius: 60px;

  width: 600px;

  padding: 12px 0px;

  /* use before pseudo-element for border and box shadow */
  background-color: transparent;
  position: relative;
  isolation: isolate;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.ctFileInput::before {
  content: "";

  border: 1px solid hsl(240, 23%, 77%);
  border-radius: 60px;
  box-shadow: 0 3px 3px rgba(233, 233, 244, 0.06);

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  z-index: -1;
}

.ctFileInput:hover::before {
  transform: scale(1.05);
  transition: transform 0.25s;
}

.ctFileInput:active::before {
  transform: scale(1);
  transition: transform 0.05s;
}

.defaultText {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: #07075d;

  cursor: pointer;

  user-select: none;
  -webkit-user-select: none;
}

.CT {
  font-weight: 700;
  color: #08084b;
}

.fileName {
  width: 510px;

  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: #090958;

  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  cursor: pointer;

  user-select: none;
  -webkit-user-select: none;
}
