.openCTFileSection {
  margin: 40px 0px;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.predictionProgramLink {
  color: hsl(270, 98%, 29%);
  text-decoration: none;
}

.predictionProgramLink:hover {
  text-decoration: underline;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detailsText {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: hsl(240, 5%, 12%);

  user-select: none;
  -webkit-user-select: none;
}
