.openCTFileSection {
  margin: 40px 116px 0px 116px;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.details {
  margin-top: 64px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.detailsText {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #2a2a2e;

  user-select: none;
  -webkit-user-select: none;
}
