.textArea {
  margin: 4px 0px 0px 0px;
  flex-grow: 1;

  border: 1px solid hsl(240, 14%, 74%);
  border-radius: 2px;
  padding: 3px 6px;

  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: hsl(240, 3%, 16%);
}

.textArea:hover {
  border-color: #0a0a0a;
  transition: border-color 0.2s;
}

.textArea:focus {
  border-color: #0a0a0a;
  outline: none;
}

.textArea::placeholder {
  font-style: italic;
  font-weight: 500;
  color: #60606a;

  /* necessary for Firefox */
  opacity: 1;
}
