.option {
  border-radius: 40px;
  width: 177px;
  height: 22px;
  line-height: 22px;
  text-align: center;

  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  color: hsl(240, 46%, 11%);

  /* use before pseudo-element for background and border */
  background-color: transparent;
  position: relative;
  isolation: isolate;

  cursor: pointer;
}

.option::before {
  content: "";

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  border: 1px solid hsl(240, 26%, 77%);
  border-radius: 40px;

  z-index: -1;
}

.option:hover::before {
  transform: scale(1.07);
  transition: transform 0.25s;
}

.option:active::before {
  transform: scale(1);
  transition: transform 0.05s;
}
