.parsingDetails {}

.parsingDetails p {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: hsl(240deg 2% 3%);
  user-select: none;
}

.header {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: black;
  user-select: none;
}
