.textInput {
  margin: 0 0 0 8px; /* margins are nonzero by default for Safari */
  flex-grow: 1;

  border: 1px solid hsl(240, 14%, 74%);
  border-radius: 2px;
  padding: 3px 6px;

  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: hsl(240, 3%, 16%);
}

.textInput:hover {
  border-color: #0a0a0a;
  transition: border-color 0.2s;
}

.textInput:focus {
  border-color: #0a0a0a;
  outline: none;
}

.textInput::placeholder {
  font-style: italic;
  font-weight: 500;
  color: #575760;

  /* necessary for Firefox */
  opacity: 1;
}
