.textInput {
  margin: 0 0 0 8px; /* margins are nonzero by default for Safari */
  flex-grow: 1;

  border: 1px solid rgba(198, 198, 215, 0.99);
  border-radius: 2px;
  padding: 3px 6px;

  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #39393d;
}

.textInput:hover {
  border-color: #0a0a0a;
  transition: border-color 0.1s;
}

.textInput:focus {
  border-color: #101011;
  outline: none;
}

.textInput::placeholder {
  font-style: italic;
  font-weight: 500;
  color: #575760;

  /* necessary for Firefox */
  opacity: 1;
}
