.addStrungElementButton {
  display: flex;
  justify-content: center;
  align-items: center;

  /* use before pseudo-element for border and box-shadow */
  border: none;
  border-radius: 60px;
  box-shadow: none;
  position: relative;
  isolation: isolate;

  padding: 6px 0px;
  width: 186px;

  cursor: pointer;

  user-select: none;
  -webkit-user-select: none;
}

.addStrungElementButton::before {
  content: "";
  border: 1px solid #c9c9da;
  border-radius: 60px;
  box-shadow: 0 2px 2px #dbdbeb2b;

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.addStrungElementButton:hover::before {
  transform: scale(1.05);
  transition: transform 0.25s;
}

.addStrungElementButton:active::before {
  transform: scale(1);
  transition: transform 0s;
}

.addStrungElementButtonText {
  margin-left: 5px;

  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #07073c;

  cursor: pointer;

  user-select: none;
  -webkit-user-select: none;
}
