.removeButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border: 1px solid #a44343;
  border-radius: 60px;

  padding: 2px 0px;
  width: 77px;

  cursor: pointer;

  user-select: none;
  -webkit-user-select: none;
}

.removeButton:hover {
  box-shadow: 0 3px 3px #e7d4d4a6;
  transform: scale(1.04);
  transition: transform 0.04s;
}

.removeButton:active {
  transform: scale(1);
  transition: transform 0s;
}

.removeButtonText {
  margin-left: 4px;

  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 500;
  color: #813232;

  cursor: pointer;

  user-select: none;
  -webkit-user-select: none;
}
