.removeStrungElementsButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border: 1px solid #b84a4a;
  border-radius: 60px;

  padding: 2px 0px;
  width: 77px;

  cursor: pointer;

  user-select: none;
  -webkit-user-select: none;
}

.removeStrungElementsButton:hover {
  box-shadow: 0px 3px 3px #d5c7c7b8;
  transform: scale(1.04);
  transition: transform 0.04s;
}

.removeStrungElementsButtonText {
  margin-left: 4px;

  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 500;
  color: #984343;

  cursor: pointer;

  user-select: none;
  -webkit-user-select: none;
}
