.typeSelect {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border: 1px solid #cbcbd7;
  border-radius: 8px;

  padding: 4px 11px;
}

.typeButton {
  margin: 0px; /* necessary for Safari */

  border-width: 1px;
  border-style: solid;
  border-radius: 50px;

  min-width: 48px;
  min-height: 24px;

  background-color: white;

  cursor: pointer;

  user-select: none;
  -webkit-user-select: none;

  outline: none;
  box-shadow: none;
}

.toggledTypeButton {
  border-color: #121216;
}

.untoggledTypeButton {
  border-color: white;
}

.untoggledTypeButton:hover {
  border-color: #a2a2b3;
}

.untoggledTypeButton:active {
  border-color: #7d7d88;
}

.textButton {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #0a0a0a;
  text-align: center;
}

.shapeButton {
  position: relative;
}

.shapeButton::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
}

.circleButton::before {
  border-width: 0px;
  width: 12px;
  height: 12px;
  border-radius: 60px;
  background-color: #1d1d20;
  margin-top: -6px;
  margin-left: -6px;
}

.triangleButton::before {
  border-top-width: 1px;
  border-right-width: 7px;
  border-bottom-width: 11px;
  border-left-width: 7px;
  border-style: solid;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: #1d1d20;
  border-left-color: transparent;
  margin-top: -6px;
  margin-left: -7px;
}

.rectangleButton::before {
  border-width: 0px;
  width: 16px;
  height: 10px;
  margin-top: -5px;
  margin-left: -8px;
  background-color: #1d1d20;
}
