.swatch {
  padding: 5px 9px;

  /* use before pseudo-element for border and box-shadow */
  border: none;
  border-radius: 2px;
  box-shadow: none;
  position: relative;
  isolation: isolate;

  background: #ffffff;

  cursor: pointer;
}

.swatch::before {
  content: "";
  border: 1px solid rgba(204, 204, 219, 0.98);
  border-radius: 2px;

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.swatch:hover::before {
  border-color: rgb(10, 10, 10);
}

.swatchColoring {
  width: 26px;
  height: 12px;
}

.isOpen .swatch::before {
  border-color: rgb(10, 10, 10);
}
