.appIcon {
  height: 18px;
  padding: 6px 10px;
  cursor: pointer;

  transition: none;
  -webkit-transition: none;
}

.appIcon:hover {
  transform: rotate(720deg);
  -webkit-transform: rotate(720deg);
  transition: transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
}
