.dropright {
  position: relative;
}

.button {
  height: 36px;
  padding: 0px 20px;
  background-color: white;
  cursor: pointer;
}

.buttonText {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #121213;
  cursor: pointer;
  user-select: none;
}

.droppedContainer {
  /* dropped content is expected to have its own borders */
  border-width: 0px;
  border-radius: 0px 5px 5px 5px;

  background-color: white;

  display: none;
  position: absolute;
  top: -1px;

  /* currently hard coded to match the widths of dropdown menus */
  left: 301px;

  z-index: 1;
}

.dropright:hover .button {
  background-color: rgba(219, 219, 232, 0.16);
}

.dropright:hover .buttonText {
  text-decoration: underline;
}

.dropright:hover .droppedContainer {
  display: block;
}
