.dropright {
  position: relative;
}

.dropped {
  display: none;
  position: absolute;
  top: -1px;
  left: 220px;
  z-index: 1;
}

.dropped button {
  display: block;
  min-width: 220px;
  margin: 0px;
  padding: 6px 8px 6px 8px;
  font-size: 12px;
}

.dropright:hover .dropped {
  display: block;
}
