.droppedButton {
  border: none;
  padding: 8px 18px;
}

.enabled {
  cursor: pointer;
}

.enabled:hover {
  background-color: #f7f7f7;
}

.text {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  user-select: none;
}

.enabled .text {
  color: #151516;
  cursor: pointer;
}

.disabled .text {
  color: #a7a7b3;
}

.keyBinding {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  user-select: none;
}

.enabled .keyBinding {
  color: #505055;
  cursor: pointer;
}

.disabled .keyBinding {
  color: #c3c3ce;
}
