.dropdown {
  position: relative;
}

.button {
  /* accounts for 1px border of dropped container
  to align button with dropped content */
  border-width: 0px 0px 0px 1px;
  border-style: solid;
  border-color: white;

  height: 30px;
  padding: 0px 24px;

  display: flex;
  align-items: center;

  background-color: transparent;
}

.buttonText {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  user-select: none;
}

.enabled .button {
  cursor: pointer;
}

.enabled .buttonText {
  color: rgb(19, 19, 20);
  cursor: pointer;
}

.disabled .buttonText {
  color: rgba(146, 146, 157, 0.8);
}

.enabled:hover .button {
  background-color: #f7f7f7;
}

.droppedContainer {
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #dedee4;
  border-radius: 0px 0px 2px 2px;

  background-color: white;

  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown:hover .droppedContainer {
  display: block;
}
