.dropdown {
  position: relative;
}

.button {
  /* accounts for 1px border of dropped container
  to align button with dropped content */
  border-width: 0px 0px 0px 1px;
  border-style: solid;
  border-color: white;

  height: 30px;
  padding: 0px 28px;

  display: flex;
  align-items: center;

  background-color: transparent;
}

.buttonText {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  user-select: none;
}

.enabled .button {
  cursor: pointer;
}

.enabled .buttonText {
  color: #121213;
  cursor: pointer;
}

.disabled .buttonText {
  color: #9999a3;
}

.enabled:hover .button {
  background-color: rgba(219, 219, 232, 0.18);
}

.droppedContainer {
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: rgba(207, 207, 221, 0.95);
  border-radius: 0px 0px 5px 5px;

  background-color: white;

  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown:hover .droppedContainer {
  display: block;
}
