.dropright {
  position: relative;
}

.button {
  padding: 8px 12px;
  background-color: white;
}

.buttonText {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: rgb(33, 33, 33);
}

.droppedContainer {
  border-style: solid;
  border-color: rgb(221, 221, 221);
  border-width: 1px 1px 1px 0px;

  background-color: white;

  display: none;
  position: absolute;
  top: -1px;

  /* currently hard coded to match width of dropdown menu */
  left: 256px;

  z-index: 1;
}

.dropright:hover .droppedContainer {
  display: block;
}
