.droppedButton {
  border: none;
  padding: 8px 18px;
}

.enabled:hover {
  background-color: rgb(247, 247, 247);
}

.text {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.enabled .text {
  color: rgb(33, 33, 33);
}

.disabled .text {
  color: rgb(172, 172, 172);
}

.keyBinding {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.enabled .keyBinding {
  color: rgb(97, 97, 97);
}

.disabled .keyBinding {
  color: rgb(198, 198, 198);
}
