.spinsOnHover {
  transition: none;
  -webkit-transition: none;
}

.spinsOnHover:hover {
  transform: rotate(720deg);
  -webkit-transform: rotate(720deg);
  transition: transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
}
