.infoLink {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #1e1ec8;

  text-decoration: none;

  cursor: pointer;
}

.infoLink:hover {
  text-decoration: underline;
}
