.sequenceIdInput {
  border: 1px solid #d3d3de;
  border-radius: 2px;
  padding: 4px 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #1c1c1e;
}

.sequenceIdInput:hover {
  border-color: #3b3b40;
}

.sequenceIdInput:focus {
  border-color: #3b3b40;
  outline: none;
}

.sequenceIdInput::placeholder {
  font-style: italic;
  font-weight: 500;
  color: #70707a;

  /* necessary for Firefox */
  opacity: 1;
}
