.currentTypeView {
  /* use before pseudo-element for border */
  border: none;
  border-radius: 12px;
  position: relative;
  isolation: isolate;

  padding: 3px 15px;

  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 700;
  font-style: normal;
  color: #1c1c1f;
  cursor: pointer;
  white-space: nowrap;
}

.currentTypeView::before {
  content: "";
  border-width: 1px;
  border-style: solid;
  border-color: #d7d7e1;
  border-radius: 12px;

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.currentTypeView:hover {
  box-shadow: 0 3px 3px rgba(224, 224, 237, 0.52);
}

.typeOption {
  padding: 3px 15px;

  /* use before pseudo-element for border */
  border: none;
  border-radius: 12px;
  position: relative;
  isolation: isolate;

  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 700;
  font-style: normal;
  color: #1c1c1f;
  cursor: pointer;
  white-space: nowrap;
}

.typeOption::before {
  content: "";
  border-width: 1px;
  border-style: solid;
  border-radius: 12px;

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.toggledTypeOption::before {
  border-color: #d7d7e1;
  box-shadow: 0 3px 3px rgba(224, 224, 237, 0.52);
}

.untoggledTypeOption::before {
  border-color: white;
}

.untoggledTypeOption:hover::before {
  border-color: #d7d7e1;
}
