.currentTypeView {
  /* use before pseudo-element for border */
  border: none;
  border-radius: 12px;
  position: relative;
  isolation: isolate;

  padding: 4px 14px;

  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 700;
  font-style: normal;
  color: #151517;
  cursor: pointer;
  white-space: nowrap;
}

.currentTypeView::before {
  content: "";
  border-width: 1px;
  border-style: solid;
  border-color: #c5c5d9;
  border-radius: 12px;
  box-shadow: 0 3px 3px rgba(224, 224, 238, 0.2);

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.currentTypeView:hover::before {
  transform: scale(1.05);
  transition: transform 0.3s;
}

.currentTypeView:active::before {
  transform: scale(1);
  transition: transform 0.05s;
}

.typeOption {
  padding: 4px 14px;

  /* use before pseudo-element for border */
  border: none;
  border-radius: 12px;
  position: relative;
  isolation: isolate;

  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 700;
  font-style: normal;
  color: #151517;
  cursor: pointer;
  white-space: nowrap;
}

.typeOption::before {
  content: "";
  border-width: 1px;
  border-style: solid;
  border-radius: 12px;

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.toggledTypeOption::before {
  border-color: #c5c5d9;
  box-shadow: 0 3px 3px rgba(224, 224, 238, 0.2);
}

.toggledTypeOption:hover::before {
  transform: scale(1.04);
  transition: transform 0.3s;
}

.toggledTypeOption:active::before {
  transform: scale(1);
  transition: transform 0.05s;
}

.untoggledTypeOption::before {
  border-color: white;
}

.untoggledTypeOption:hover::before {
  border-color: #c4c4d7;
  transition: border-color 0.1s;
}
