.title {
  margin: 0px 108px;

  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: black;
}

.headerUnderline {
  margin-top: 8px;

  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: hsla(240, 23%, 88%, 1);

  height: 0px;
}

.header {
  width: 1000px;

  display: flex;
  flex-direction: column;
}

.body {
  height: 577px;

  display: flex;
  flex-direction: column;
}

@keyframes bodyEnter {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
