.textArea {
  margin: 4px 0px 0px 0px;
  flex-grow: 1;

  border: 1px solid #d8d8e4;
  border-radius: 2px;
  padding: 3px 6px;

  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #696975;
}

.textArea:hover {
  border-color: #414147;
}

.textArea:focus {
  border-color: #414147;
  outline: none;
}

.textArea::placeholder {
  font-style: italic;
  font-weight: 500;
  color: #5f5f69;

  /* necessary for Firefox */
  opacity: 1;
}
