.option {
  border: 1px solid rgba(217, 217, 238, 0.97);
  border-radius: 40px;
  padding: 2px 0;
  width: 168px;
  text-align: center;

  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  color: #303073;

  cursor: pointer;
}

.option:hover {
  box-shadow: 0 3px 3px rgba(236, 236, 245, 0.17);
  transform: scale(1.05);
  transition: transform 0.025s;
}

.option:active {
  transform: scale(1);
  transition: transform 0s;
}
