.formatSelect {
  margin-right: 100px;

  border: 1px solid rgba(217, 217, 233, 1);
  border-radius: 60px;

  width: 150px;

  padding: 4px 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.formatButton {
  margin: 0; /* necessary for Safari */
  border: none;
  outline: none;

  padding: 3px 12px;
  border-radius: 60px;

  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 600;
  font-style: normal;

  user-select: none;
  -webkit-user-select: none;
}

.formatButton:active {
  outline: none;
}

.toggledFormatButton {
  color: white;
  background-color: #0c0c0d;

  cursor: default;
}

.untoggledFormatButton {
  color: rgb(12, 12, 13);
  background-color: white;

  cursor: pointer;
}

.untoggledFormatButton:hover {
  color: rgb(11, 11, 11);
  background-color: #e0e0f091;
}

.untoggledFormatButton:active {
  color: rgb(7, 7, 8);
  background-color: #ddddecc7;
}
