.formatSelect {
  margin-right: 102px;

  border: 1px solid hsla(240, 24%, 84%, 1);
  border-radius: 60px;

  width: 160px;

  padding: 4px 16px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.formatButton {
  margin: 0; /* necessary for Safari */
  border: none;
  outline: none;

  padding: 2px 11px;
  border-radius: 60px;

  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 500;
  font-style: normal;

  user-select: none;
  -webkit-user-select: none;
}

.formatButton:active {
  outline: none;
}

.toggledFormatButton {
  border: 1px solid #0c0c0d;
  color: white;
  background-color: #0c0c0d;

  cursor: default;
}

.untoggledFormatButton {
  border: 1px solid white;
  color: rgb(7, 7, 8);
  background-color: white;

  cursor: pointer;
}

.untoggledFormatButton:hover {
  border-color: rgba(94, 94, 102, 1);
  transition: border-color 0.1s;
}
