.parsingDetails {}

.parsingDetails p {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: rgb(14, 14, 15);
  user-select: none;
}

.header {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: rgb(9, 9, 9);
  user-select: none;
}
