.parsingDetails {}

.parsingDetails p {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #151516;
  user-select: none;
}

.header {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #131314;
  user-select: none;
}
