.textInput {
  margin: 0 0 0 8px; /* margins are nonzero by default for Safari */
  flex-grow: 1;

  border: 1px solid rgba(223, 223, 237, 0.96);
  border-radius: 2px;
  padding: 3px 6px;

  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #50505b;
}

.textInput:hover {
  border-color: #171718;
}

.textInput:focus {
  border-color: #171718;
  outline: none;
}

.textInput::placeholder {
  font-style: italic;
  font-weight: 500;
  color: #575760;

  /* necessary for Firefox */
  opacity: 1;
}
