.lightGrayishLeftBorder {
  border-width: 0px 0px 0px 1px;
  border-style: solid;
  border-color: #f7f7f7;
}

.grayishLeftBorder {
  border-width: 0px 0px 0px 1px;
  border-style: solid;
  border-color: rgba(207, 207, 221, 0.95);
  border-radius: 0px 0px 0px 5px;
}
