.lightGrayishLeftBorder {
  border-width: 0px 0px 0px 1px;
  border-style: solid;
  border-color: #f7f7f7;
}

.grayishLeftBorder {
  border-width: 0px 0px 0px 1px;
  border-style: solid;
  border-color: #dedee4;
  border-radius: 0px 0px 0px 5px;
}
