.backwardButton {
  border-radius: 4px;
}

.backwardIconContainer {
  border-radius: 4px;

  width: 24px;
  height: 23px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.backwardIcon {}

.enabled {
  cursor: pointer;
}

.enabled .backwardIcon {
  stroke: #18181b;
}

.disabled .backwardIcon {
  stroke: #a4a4b4;
}

.enabled:hover .backwardIconContainer {
  background-color: rgba(216, 216, 231, 0.38);
}

.enabled:active .backwardIconContainer {
  background-color: rgba(130, 130, 148, 0.24);
}
