.closeButton {
  margin: 0 0 0 8px;
  width: 23px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
}

.crossMark {
  stroke: rgb(21, 21, 23);
}

.closeButton:hover {
  background-color: rgb(238, 23, 23);
}

.closeButton:hover .crossMark {
  stroke: #ffffff;
}

.closeButton:active {
  background-color: rgb(207, 31, 31);
}

.closeButton:active .crossMark {
  stroke: #ffffff;
}
