.closeButton {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
}

.crossMark {
  stroke: rgb(16, 16, 17);
  fill: rgb(16, 16, 17);
}

.closeButton:hover {
  background-color: rgb(238, 23, 23);
}

.closeButton:hover .crossMark {
  stroke: #ffffff;
  fill: #ffffff;
}
