.forwardButton {
  border-radius: 4px;
}

.forwardIconContainer {
  border-radius: 4px;

  width: 24px;
  height: 23px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.forwardIcon {}

.enabled {
  cursor: pointer;
}

.enabled .forwardIcon {
  stroke: #18181b;
}

.disabled .forwardIcon {
  stroke: #a4a4b4;
}

.enabled:hover .forwardIconContainer {
  background-color: rgba(216, 216, 231, 0.38);
}

.enabled:active .forwardIconContainer {
  background-color: rgba(130, 130, 148, 0.24);
}
