.forwardButton {}

.forwardIconContainer {
  padding: 4px 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.forwardIcon {}

.enabled {
  cursor: pointer;
}

.enabled .forwardIcon {
  stroke: #252529;
  fill: #252529;
}

.disabled .forwardIcon {
  stroke: #b8b8c3;
  fill: #b8b8c3;
}

.enabled:hover .forwardIconContainer {
  background-color: rgba(218, 218, 228, 0.37);
}

.enabled:active .forwardIconContainer {
  background-color: rgba(198, 198, 209, 0.42);
}
