.partialWidthContainer {
  background-color: white;
  border-width: 0px 0px 0px 1px;
  border-style: solid;
  border-color: #dbdbe7;
}

.title {
  font-size: 24px;
  font-weight: 600;
  color: #1c1c1e;
}

.titleUnderline {
  height: 0px;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #dbdbe7;
}
