.errorMessage {
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  color: #d71a1a;
}

.fadesIn {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

.blinksIn {
  animation: blinkIn 1.5s;
}

@keyframes blinkIn {
  0%, 55%, 85% {
    opacity: 0;
  }
  40%, 70%, 100% {
    opacity: 1;
  }
}
