.errorMessage {
  font-size: 14px;
  font-weight: 600;
  color: rgb(244,10,10);
}

.fadesIn {
  animation: fadeIn 1.25s;
}

@keyframes fadeIn {
  from {
    opacity: 0.15;
  }
  to {
    opacity: 1;
  }
}
