.onlyExpandToggle {
  width: 111px;
  padding: 3px 0px;

  border-width: 1px;
  border-style: solid;
  border-color: rgba(217, 217, 237, 0.92);
  border-radius: 16px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: white;

  cursor: pointer;
}

.text {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 600;
  font-style: normal;
  user-select: none;
  cursor: pointer;
}

.spacer {
  width: 6px;
}

.check {}

.toggled .text {
  color: #121213;
}

.toggled .spacer {
  display: block;
}

.toggled .check {
  display: block;
}

.untoggled .text {
  color: rgba(152, 152, 161, 0.98);
}

.untoggled .spacer {
  display: none;
}

.untoggled .check {
  display: none;
}

.onlyExpandToggle:hover {
  box-shadow: 0 3px 3px rgba(230, 230, 241, 0.54);
}

.toggleMessage {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: italic;
  color: rgb(76, 76, 85);
  white-space: nowrap;
  user-select: none;
}
