.onlyExpandToggle {
  width: 136px;
  padding: 2px 0px;

  border-width: 1px;
  border-style: solid;
  border-color: #d1d1e7;
  border-radius: 16px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  color: #060634;

  background-color: white;

  cursor: pointer;
}

.text {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  user-select: none;
  cursor: pointer;
}

.spacer {
  width: 6px;
}

.check {}

.toggled .spacer {
  display: block;
}

.toggled .check {
  display: block;
}

.untoggled .spacer {
  display: none;
}

.untoggled .check {
  display: none;
}

.onlyExpandToggle:hover {
  box-shadow: 0 3px 3px rgba(231, 231, 241, 0.8);
  transform: scale(1.0125);
  transition: transform 0.02s;
}

.toggleMessage {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: italic;
  color: rgb(76, 76, 85);
  white-space: nowrap;
  user-select: none;
}
