.forwardBackwardButton {
  width: 108px;

  /* use before pseudo-element for border and box-shadow */
  border: none;
  border-radius: 40px;
  box-shadow: none;
  position: relative;
  isolation: isolate;

  padding: 4px 0px;

  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  color: rgba(8, 8, 60, 1);

  background-color: transparent;

  cursor: pointer;
  user-select: none;

  outline: none;
}

.forwardBackwardButton::before {
  content: "";
  border: 1px solid #cbcbdb;
  border-radius: 40px;
  box-shadow: 0 2px 2px rgba(230, 230, 242, 0.24);

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.forwardBackwardButton:hover::before {
  transform: scale(1.05);
  transition: transform 0.25s;
}

.forwardBackwardButton:active::before {
  transform: scale(1);
  transition: transform 0s;
}
