.hollowButton {
  padding: 3px 16px;
  border: 1px solid #d6d6e5;
  border-radius: 40px;
  outline: none;
  box-shadow: none;

  background-color: transparent;

  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  color: #060668;

  cursor: pointer;
  user-select: none;
}

.hollowButton:hover {
  transform: scale(1.03);
  box-shadow: 0px 2px 2px #f2f2f7;
  transition: transform 0.04s;
}

.hollowButton:active {
  transform: scale(1);
  transition: transform 0s;
}
