.optionsToggle {
  outline: none;

  /* Make large enough to probably guarantee a pill shape
     for the toggle regardless of other styles. */
  border-radius: 1000px;

  border: none;
  padding: 1px 14px;
  background-color: rgba(240, 240, 255, 1);

  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  color: rgb(15, 15, 80);

  cursor: pointer;

  user-select: none;
  -webkit-user-select: none;
}

.optionsToggle:hover {
  background-color: rgba(224, 224, 255, 1);
  color: rgb(13, 13, 74);
}

.optionsToggle:active {
  background-color: rgba(205, 205, 255, 1);
  color: rgb(13, 13, 66);

  outline: none;
}
