.solidButton {
  border: none;
  margin: 0px;
  padding: 4px 32px 4px 32px;
  background-color: #000099;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  color: white;
  border-radius: 2px;
  box-shadow: none;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.solidButton:focus {
  outline: none;
}

.enabled:hover {
  transform: scale(1.075);
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  transition: transform 0.25s ease-in-out;
}

.disabled {
  opacity: 0.25;
  transition-duration: 0.5s;
}
