.submitButton {
  border: none;
  margin: 0px;
  padding: 4px 32px 4px 32px;
  background-color: #0d0d82;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  color: white;
  border-radius: 2px;
  box-shadow: none;
  transition-duration: 0s;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  cursor: pointer;
}

.submitButton:focus {
  outline: none;
}

.submitButton:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.175);
  transition: transform 0.2s ease-in-out;
}

.submitButton:active {
  transform: scale(1);
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.175);
  transition-duration: 0s;
}
