.submitButton {
  border: none;
  margin: 0px;
  padding: 4px 32px 4px 32px;
  box-shadow: 0 3px 3px rgba(213, 213, 255, 0.53);
  background-color: #0d0d82;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  color: white;
  border-radius: 2px;
  transition-duration: 0s;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  cursor: pointer;
}

.submitButton:focus {
  outline: none;
}

.submitButton:hover {
  transform: scale(1.04);
  transition: transform 0.25s;
}

.submitButton:active {
  transform: scale(1);
  transition-duration: 0s;
}
