.textButton {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: italic;
  color: #060674;
  cursor: pointer;
}

.textButton:hover {
  transform: scale(1.06);
}

.textButton:active {
  transform: scale(1);
}
