.oldDrawingNotes {
  margin: 42px 0px 0px 0px;
}

.disclaimer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.disclaimerText {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: hsl(240, 3%, 8%);
  user-select: none;
}

.preservedAspectsSurroundingText {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: hsl(240, 3%, 8%);
  user-select: none;
}

.preservedAspect {
  margin-bottom: 2px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.solidDot {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: hsl(240, 3%, 5%);
}

.preservedAspectText {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: hsl(240, 3%, 8%);
  user-select: none;
}
