.oldFileNotes {
  margin: 55px 0px 0px 0px;
  width: 679px;
}

.disclaimer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.disclaimerText {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #1e1e20;
  user-select: none;
}

.preservedAspectsLeadingText {
  margin: 15px 0px 0px 30px;

  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: italic;
  color: #101010;
  user-select: none;
}

.preservedAspect {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.solidDot {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #35353a;
}

.preservedAspectText {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #2a2a2d;
  user-select: none;
}
