.oldFileNotes {
  margin: 55px 0px 0px 0px;
  width: 588px;
}

.disclaimer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.solidDot {
  min-width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #171718;
}

.disclaimerText {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #1e1e20;
  user-select: none;
}

.preservedAspect {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hollowDot {
  width: 5px;
  height: 5px;
  border-radius: 3px;
  border: 1px solid #5b5b61;
  background-color: transparent;
}

.preservedAspectText {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #2a2a2d;
  user-select: none;
}
