.content {
  width: 920px;
  height: 524px;

  display: flex;
  flex-direction: column;
}

.body {
  margin: 0px 116px;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}
