.fileInputLabel {
  width: 600px;

  border: 1px solid #d1d1e7;
  border-radius: 60px;
  box-shadow: 0 3px 3px rgba(233, 233, 244, 0.2);

  padding: 12px 24px;

  font-size: 18px;
  font-style: normal;
  color: #050562;
  text-align: center;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  cursor: pointer;
}

.rna2drawerExtension {
  font-weight: 700;
  font-style: normal;
  color: rgb(7, 7, 70);
}

.fileInputLabel:hover {
  transform: scale(1.05);
  transition: transform 0.25s;
}

.fileInputLabel:active {
  transform: scale(1);
  transition: transform 0s;
}
