.fileInputLabel {
  width: 600px;

  border: 1px solid #d1d1e7;
  border-radius: 60px;

  padding: 12px 24px;

  font-size: 18px;
  font-style: normal;
  color: #050562;
  text-align: center;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  cursor: pointer;
}

.rna2drawerExtension {
  font-weight: 700;
  font-style: normal;
  color: rgb(7, 7, 70);
}

.fileInputLabel:hover {
  transform: scale(1.0175);
  box-shadow: 0px 2px 2px #efeff3;
  transition: transform 0.04s;
}

.detailsToggle {
  margin-right: 446px;

  outline: none;

  border: none;
  border-radius: 40px;
  padding: 1px 14px;
  background-color: rgb(242, 242, 255);

  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  color: rgb(20, 20, 98);

  cursor: pointer;

  user-select: none;
  -webkit-user-select: none;
}

.detailsToggle:hover {
  background-color: rgb(228, 228, 255);
  transition: background-color 0.02s;
}

.detailsToggle:active {
  background-color: rgb(209, 209, 255);
  transition: background-color 0s;

  outline: none;
}
