.findMotifsButton {
  margin-right: 5px;

  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 2px 24px;
  border: 1px solid #cdcdeb;
  border-radius: 30px;

  cursor: pointer;
}

.findMotifsButton:hover {
  box-shadow: 0 3px 3px rgba(223, 223, 236, 0.66);
  transform: scale(1.0125);
  transition: transform 0.02s;
}

.findMotifsButton:active {
  transform: scale(1);
  transition: transform 0s;
}

.findMotifsButtonText {
  margin-left: 4px;

  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  color: #07074b;

  cursor: pointer;
  user-select: none;
}
