.findMotifsButton {
  margin: 0px 13px 0px 8px;

  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 3px 25px;

  /* use before pseudo-element for border and box shadow */
  border: none;
  border-radius: 30px;
  position: relative;
  isolation: isolate;

  cursor: pointer;
}

.findMotifsButton::before {
  content: "";
  border: 1px solid #d1d1e4;
  border-radius: 30px;
  box-shadow: 0 3px 3px rgba(225, 225, 238, 0.32);

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.findMotifsButton:hover::before {
  transform: scale(1.05);
  transition: transform 0.25s;
}

.findMotifsButton:active::before {
  transform: scale(1);
  transition: transform 0s;
}

.findMotifsButtonText {
  margin-left: 4px;

  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  color: #0a0a45;

  /* for when the infobar is larger than its container */
  white-space: nowrap;

  cursor: pointer;
  user-select: none;
}
