.infobar {
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: #e0e0ec;

  height: 30px;

  background-color: white;

  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: auto;
}

.spacer {
  flex-grow: 1;
}
