.onTop {
  animation: onTopEnter 0.75s ease-in-out;
}

@keyframes onTopEnter {
  0% {
    opacity: 0;
    transform: scale(0.75);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.underline {
  height: 0px;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: rgba(0,0,0,0.175);
}

.newAndOpenLinks:hover {
  transform: scale(1.1);
  transition-duration: 0.25s;
}

.helpLinks {
  color: rgb(124,35,175);
  text-decoration-line: none;
}

.helpLinks:hover {
  text-decoration-line: underline;
}

.updatesLink {
  color: rgb(124,35,175);
  text-decoration-line: none;
}

.updatesLink:hover {
  text-decoration-line: underline;
}

.updatesNotice {
  animation: updatesNoticeEnter 1.75s ease-in;
}

@keyframes updatesNoticeEnter {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slideshow {
  animation: slideshowEnter 1.5s ease-in-out;
}

@keyframes slideshowEnter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
