.homePage {
  animation: enter 0.75s ease-in-out;
}

@keyframes enter {
  0% {
    opacity: 0;
    transform: scale(2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.newAndOpenLinks:hover {
  transform: scale(1.15);
  transition-duration: 0.3s;
}

.helpLinks {
  text-decoration-line: none;
}

.helpLinks:hover {
  transition-duration: 0.4s;
  font-size: 18.4px;
}
