.onTop {
  animation: onTopEnter 0.75s ease-in-out;
}

@keyframes onTopEnter {
  0% {
    opacity: 0;
    transform: scale(0.75);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.newAndOpenLinks:hover {
  transform: scale(1.15);
  transition-duration: 0.3s;
}

.helpLinks {
  text-decoration-line: none;
}

.helpLinks:hover {
  transition-duration: 0.4s;
  font-size: 18.4px;
}

.updatesLink {
  text-decoration-line: none;
}

.updatesLink:hover {
  text-decoration-line: underline;
}

.updatesNotice {
  animation: updatesNoticeEnter 2s ease-in;
}

@keyframes updatesNoticeEnter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slideshow {
  animation: slideshowEnter 1.5s ease-in-out;
}

@keyframes slideshowEnter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
