.appDescription {
  margin: 32px 0 0 0;
  font-size: 16px;
  font-weight: 500;
  color: rgb(100, 100, 116);

  user-select: none;
  -webkit-user-select: none;
}

.newAndOpenButtons {
  border: 1px solid rgba(209, 209, 231, 0.95);
  border-radius: 24px;
  flex-grow: 1;
  padding: 9px 0px;
  font-size: 20px;
  color: #1f1f69;
  text-align: center;
  cursor: pointer;
}

.newAndOpenButtons:hover {
  box-shadow: 0 3px 3px rgba(234, 234, 244, 0.26);
  transform: scale(1.05);
  transition: transform 0.04s;
}

.moreInfo {
  margin: 64px 0 0 0;
  align-self: center;

  font-size: 16px;
  font-weight: 500;
  color: rgb(100, 100, 116);
}

.moreInfoLinks {
  color: #63288e;
  text-decoration-line: none;
}

.moreInfoLinks:hover {
  text-decoration-line: underline;
}

.updatesLink {
  color: #632c8b;
  text-decoration-line: none;
}

.updatesLink:hover {
  text-decoration-line: underline;
}

.updatesNotice {
  margin: 8px 0 0 0;
  align-self: center;

  font-size: 14px;
  font-weight: 500;
  color: rgb(100, 100, 111);

  animation: updatesNoticeFadeIn 2s ease-in;
}

.updatesNoticeDate {
  color: rgb(109, 109, 124);
}

@keyframes updatesNoticeFadeIn {
  0% {
    opacity: 0;
  }
  37.5% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.topSection {
  margin: 128px 0 0 0;

  width: 960px;
  display: flex;
  flex-direction: column;

  animation: topSectionFadeIn 0.6s ease-in-out;
}

@keyframes topSectionFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.75);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
