.appDescription {
  margin: 32px 0 0 0;
  font-size: 16px;
  font-weight: 500;
  color: rgb(96, 96, 108);

  user-select: none;
  -webkit-user-select: none;
}

.newAndOpenButtons {
  position: relative;
  isolation: isolate;
  border-radius: 24px;
  flex-grow: 1;
  padding: 9px 0px;
  font-size: 20px;
  color: #1d1d66;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.newAndOpenButtons::before {
  content: "";

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  border: 1px solid rgba(208, 208, 230, 1);
  border-radius: 24px;
  box-shadow: 0 2px 2px rgba(224, 224, 240, 0.24);

  z-index: -1;
}

.newAndOpenButtons:hover::before {
  transform: scale(1.05);
  transition: transform 0.25s;
}

.newAndOpenButtons:active::before {
  transform: scale(1);
  transition: transform 0s;
}

.moreInfo {
  margin: 64px 0 0 0;
  align-self: center;

  font-size: 16px;
  font-weight: 500;
  color: rgb(96, 96, 108);
}

.moreInfoLinks {
  color: #63288e;
  text-decoration-line: none;
}

.moreInfoLinks:hover {
  text-decoration-line: underline;
}

.updatesLink {
  color: #632c8b;
  text-decoration-line: none;
}

.updatesLink:hover {
  text-decoration-line: underline;
}

.updatesNotice {
  margin: 8px 0 0 0;
  align-self: center;

  font-size: 14px;
  font-weight: 500;
  color: rgb(96, 96, 106);

  animation: updatesNoticeFadeIn 2s ease-in;
}

.updatesNoticeDate {
  color: rgb(101, 101, 112);
}

@keyframes updatesNoticeFadeIn {
  0% {
    opacity: 0;
  }
  37.5% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.topSection {
  margin: 128px 0 0 0;

  width: 960px;
  display: flex;
  flex-direction: column;

  animation: topSectionFadeIn 0.5s ease-in-out;
}

@keyframes topSectionFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
