.onTop {
  animation: onTopEnter 0.6s ease-in-out;
}

@keyframes onTopEnter {
  0% {
    opacity: 0;
    transform: scale(0.75);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.underline {
  height: 0px;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #dbdbec;
}

.newAndOpenLinks {
  border: 1px solid #d2d2e6;
  border-radius: 24px;
  flex-grow: 1;
  padding: 9px 0px;
  font-size: 20px;
  color: #1b1b63;
  text-align: center;
  cursor: pointer;
}

.newAndOpenLinks:hover {
  box-shadow: 0px 2px 2px rgba(235, 235, 246, 0.69);
  transform: scale(1.025);
  transition: transform 0.05s;
}

.helpLinks {
  color: #63288e;
  text-decoration-line: none;
}

.helpLinks:hover {
  text-decoration-line: underline;
}

.updatesLink {
  color: #632c8b;
  text-decoration-line: none;
}

.updatesLink:hover {
  text-decoration-line: underline;
}

.updatesNotice {
  animation: updatesNoticeEnter 2s ease-in;
}

@keyframes updatesNoticeEnter {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slideshow {
  animation: slideshowEnter 1.5s ease-in-out;
}

@keyframes slideshowEnter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
