.label {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  color: #333333;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  cursor: default;
}
