.zoomInput {
  margin: 0px 2px; /* margins are nonzero by default in Safari */

  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-radius: 3px;

  padding: 1px 3px;
  text-align: center;

  color: #28282b;

  outline: none;
}

.zoomInput:hover {
  border-color: rgb(136, 136, 207);
}

.zoomInput:focus {
  border-color: rgb(82, 82, 175);

  outline: none;
}
