.zoomInButton {
  border-radius: 3px;

  width: 22px;
  height: 22px;

  background-color: transparent;

  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.zoomInButton:hover {
  background-color: #e6e6ed;
}

.zoomInButton:active {
  background-color: #d6d6dc;
}
