.label {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  color: rgba(0,0,0,0.8);

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  cursor: default;
}

.currentColorDisplay {
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.375);
}

.currentColorDisplay:hover {
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.375);
  transition: box-shadow 0.125s ease-in-out;
}
