.complementRulesButton {
  padding: 0px 4px;
  border-radius: 16px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: italic;
  color: #070844;
  cursor: pointer;
}

.complementRulesButton:hover {
  text-decoration: underline;
}

.complementRulesButton:active {
  transform: scale(0.97);
}
