.complementRulesButton {
  padding: 0px 4px;
  border-radius: 16px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: italic;
  color: #070843;
  cursor: pointer;
}

.complementRulesButton:hover {
  transform: scale(1.03);
}

.complementRulesButton:active {
  transform: scale(1);
}
