.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.menuContainer {
  /* want to ensure that the menu is always on top of everything else */
  z-index: 2;
}

.drawingAndFormContainer {
  min-height: 0px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.drawingContainer {
  flex-grow: 1;
  overflow: auto;
}
