@font-face {
  font-family: 'Segoe UI';
  src: url('./segoeui.ttf') format('truetype');
}

body {
  font-family: 'Segoe UI', Verdana, Arial;
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
}

p {
  font-size: 14px;
}

input {
  padding: 2px 4px 2px 4px;
  font-family: 'Segoe UI', Verdana, Arial;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  border: 1.5px solid lightgray;
}

input:hover {
  border-color: gray;
  transition-duration: 0.25s;
}

input:focus {
  outline: none;
  border-color: gray;
}

input::placeholder {
  font-style: italic;
}

/* Edge */
input::-webkit-input-placeholder {
  font-style: italic;
}

textarea {
  padding: 2px 4px 2px 4px;
  font-family: 'Segoe UI', Verdana, Arial;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  border: 1.5px solid lightgray;
  resize: none;
}

textarea:hover {
  border-color: gray;
  transition-duration: 0.25s;
}

textarea:focus {
  outline: none;
  border-color: gray;
}

textarea::placeholder {
  font-style: italic;
}

/* Edge */
textarea::-webkit-input-placeholder {
  font-style: italic;
}

button {
  background-color: white;
  border: 1.5px solid gray;
}

button:hover {
  background-color: aliceblue;
  border-color: midnightblue;
  transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
}

button:focus {
  outline: none;
  border-color: midnightblue;
}

select {
  min-width: 160px;
  font-family: 'Segoe UI', Verdana, Arial;
  font-size: 14px;
  border: 1.5px solid lightgray;
}

select:hover {
  border-color: gray;
  transition-duration: 0.25s;
}

select:focus {
  outline: none;
  border-color: gray;
}

.menu-dropdown {
  position: relative;
  display: inline-block;
}

.menu-dropdown button {
  background-color: whitesmoke;
}

.menu-dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.menu-dropdown-content button {
  display: block;
}

.menu-dropdown-content button:hover {
  background-color: gainsboro;
}

.menu-dropdown:hover .menu-dropdown-content {
  display: block;
}
