@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
  margin: 0px;
  padding: 0px;
}

div {
  margin: 0px;
  padding: 0px;
}

p {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  color: rgba(0,0,0,0.875);

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  cursor: default;
}

textarea {
  border: 1px solid rgba(0,0,0,0.15);
  margin: 0px;
  padding: 3px 6px 3px 6px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  color: rgba(0,0,0,0.95);
  border-radius: 2px;
  resize: none;
}

textarea:hover {
  border-color: rgba(0,0,0,0.95);
  transition-duration: 0.25s;
}

textarea:focus {
  outline: none;
  border-color: rgba(0,0,0,0.95);
}

textarea::placeholder {
  font-style: italic;
  color: rgb(98, 98, 98);
  opacity: 1; /* necessary for Firefox */
}

textarea::-webkit-input-placeholder {
  font-style: italic;
  color: rgb(98, 98, 98);
}

img {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

svg text {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.unselectable {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  cursor: default;
}
