@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
  margin: 0px;
  padding: 0px;
}

div {
  margin: 0px;
  padding: 0px;
}

p {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  color: rgba(0,0,0,0.875);

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  cursor: default;
}

input {
  margin: 0px; /* is not zero by default in Safari */
}

textarea {
  border: 1px solid rgba(0,0,0,0.15);
  margin: 0px;
  padding: 3px 6px 3px 6px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  color: rgba(0,0,0,0.95);
  border-radius: 2px;
  resize: none;
}

textarea:hover {
  border-color: rgba(0,0,0,0.95);
  transition-duration: 0.25s;
}

textarea:focus {
  outline: none;
  border-color: rgba(0,0,0,0.95);
}

textarea::placeholder {
  font-style: italic;
  color: rgb(98, 98, 98);
  opacity: 1; /* necessary for Firefox */
}

textarea::-webkit-input-placeholder {
  font-style: italic;
  color: rgb(98, 98, 98);
}

input[type="checkbox"] {
  appearance: none;
  margin: 0px;
  padding: 0px;
  border: 2px solid hsl(240, 10%, 76%);
  border-radius: 2px;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  border-color: #2b2b2f;
  background-color: #2b2b2f;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgOTYgOTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIGlkPSJJY29uc19DaGVja21hcmsiIG92ZXJmbG93PSJoaWRkZW4iPjxwYXRoIGQ9Ik04Ni4xIDE1LjggMzQuOSA2NC4yIDEwLjMgMzkgMS44IDQ3LjEgMzQuNSA4MC43IDQzLjEgNzIuNyA5NC4yIDI0LjJaIiBzdHJva2U9IiNGRkZGRkYiIHN0cm9rZS13aWR0aD0iMy42NjY2NyIgZmlsbD0iI0ZGRkZGRiIvPjwvc3ZnPg==);
}

input[type="checkbox"]:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

input[type="checkbox"]:active {
  transform: scale(1);
  transition: transform 0s;
}

img {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

svg text {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.unselectable {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  cursor: default;
}
