.toolSelect {
  align-self: stretch;
  padding: 0px 10px;
}

.openToolSelect {}

.closedToolSelect {
  background-color: white;
  cursor: pointer;
}

.closedToolSelect:hover {
  background-color: rgba(230, 230, 240, 0.52);
}

.toolLabel {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  color: #1a1a1c;
  cursor: pointer;
}

.currentToolView {
  margin-left: 7px;
  padding: 3px 10px;

  /* use before pseudo-element for border, box shadow and background
  color */
  border: none;
  border-radius: 12px;
  box-shadow: none;
  background-color: transparent;
  position: relative;
  isolation: isolate;

  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  color: white;
  cursor: pointer;
}

.currentToolView::before {
  content: "";
  border-width: 1px;
  border-style: solid;
  border-color: #38383d;
  border-radius: 12px;

  box-shadow: 0 3px 3px rgba(216, 216, 233, 0.35);

  background-color: #38383d;

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  z-index: -1;
}

.closedToolSelect:hover .currentToolView::before {
  transform: scale(1.05);
  transition: transform 0.25s;
}

.closedToolSelect:active .currentToolView::before {
  transform: scale(1);
  transition: transform 0.05s;
}

.toolButton {
  margin-left: 7px;
  padding: 3px 10px;

  /* use before pseudo-element for border and background color */
  border: none;
  border-radius: 12px;
  background-color: transparent;
  position: relative;
  isolation: isolate;

  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  cursor: pointer;
}

.toolButton::before {
  content: "";

  border-width: 1px;
  border-style: solid;
  border-radius: 12px;

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}

.toggledToolButton {
  color: white;
}

.toggledToolButton::before {
  border-color: #38383d;
  box-shadow: 0 3px 3px rgba(216, 216, 233, 0.35);
  background-color: #38383d;
}

.toggledToolButton:hover::before {
  transform: scale(1.05);
  transition: transform 0.25s;
}

.toggledToolButton:active::before {
  transform: scale(1);
  transition: transform 0.05s;
}

.untoggledToolButton {
  color: #1e1e20;
}

.untoggledToolButton::before {
  border-color: white;
  background-color: white;
}

.untoggledToolButton:hover::before {
  border-color: rgba(190, 190, 210, 1);
  transition: border-color 0.05s;
}

.overlaidMessage {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: italic;
  color: rgb(76, 76, 85);
  white-space: nowrap;
}
