.toolOptionToggle {
  padding: 3px 0px;

  /* use before pseudo-element for border and box shadow */
  border: none;
  border-radius: 1000px;
  box-shadow: none;
  position: relative;
  isolation: isolate;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-style: normal;

  background-color: white;

  cursor: pointer;

  user-select: none;
  -webkit-user-select: none;
}

.toolOptionToggle::before {
  content: "";
  border: 1px solid rgba(187, 187, 200, 0.97);
  border-radius: 1000px;
  box-shadow: 0 3px 3px rgba(224, 224, 237, 0.1);

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.check {
  margin-left: 6px;
}

.toggled {
  font-weight: 600;
  color: rgba(18, 18, 19, 0.97);
}

.toggled .check {
  display: block;
}

.untoggled {
  font-weight: 500;
  color: rgba(112, 112, 120, 0.99);
}

.untoggled .check {
  display: none;
}

.toolOptionToggle:hover::before {
  transform: scale(1.05);
  transition: transform 0.25s;
}

.toolOptionToggle:active::before {
  transform: scale(1);
  transition: transform 0s;
}
