.toolSelect {
  align-self: stretch;
  padding: 0px 6px;
}

.openToolSelect {}

.closedToolSelect {
  background-color: white;
  cursor: pointer;
}

.closedToolSelect:hover {
  background-color: rgba(230, 230, 240, 0.55);
}

.toolLabel {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  color: #1a1a1c;
  cursor: pointer;
}

.currentToolView {
  padding-left: 4px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  color: #3d3d46;
  cursor: pointer;
}

.toolButton {
  margin-left: 6px;
  padding: 2px 10px;
  border-radius: 12px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  cursor: pointer;
}

.toggledToolButton {
  background-color: #38383d;
  color: white;
}

.untoggledToolButton {
  background-color: white;
  color: #1e1e20;
}

.untoggledToolButton:hover {
  background-color: rgba(224, 224, 233, 0.7);
}

.toolDescription {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: italic;
  color: rgb(76, 76, 85);
  white-space: nowrap;
}
