.partialWidthContainer {
  background-color: white;
  border-width: 0px 0px 0px 1px;
  border-style: solid;
  border-color: rgba(0 0 0 0.175);
}

.title {
  font-size: 24px;
  color: black;
}

.titleUnderline {
  height: 0px;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: rgba(0 0 0 0.175);
}
