.backwardButton {}

.backwardIconContainer {
  border-radius: 2px;
  padding: 4px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.backwardIcon {
  width: 16px;
}

.enabled:hover .backwardIconContainer {
  background-color: rgb(235 235 235);
}

.enabled:active .backwardIconContainer {
  background-color: rgb(205 205 205);
}

.disabled {}
