.backwardButton {}

.backwardIconContainer {
  border-radius: 2px;
  padding: 4px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.backwardIcon {}

.enabled {
  cursor: pointer;
}

.enabled .backwardIcon {
  stroke: #262626;
  fill: #262626;
}

.disabled .backwardIcon {
  stroke: #bfbfbf;
  fill: #bfbfbf;
}

.enabled:hover .backwardIconContainer {
  background-color: rgb(242 242 242);
}

.enabled:active .backwardIconContainer {
  background-color: rgb(222 222 222);
}
