.forwardButton {}

.forwardIconContainer {
  border-radius: 2px;
  padding: 4px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.forwardIcon {
  width: 16px;
}

.enabled:hover .forwardIconContainer {
  background-color: rgb(235 235 235);
}

.enabled:active .forwardIconContainer {
  background-color: rgb(210 210 210);
}

.disabled {}
