.forwardButton {}

.forwardIconContainer {
  border-radius: 2px;
  padding: 4px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.forwardIcon {}

.enabled {
  cursor: pointer;
}

.enabled .forwardIcon {
  stroke: #262626;
  fill: #262626;
}

.disabled .forwardIcon {
  stroke: #bfbfbf;
  fill: #bfbfbf;
}

.enabled:hover .forwardIconContainer {
  background-color: rgb(242 242 242);
}

.enabled:active .forwardIconContainer {
  background-color: rgb(222 222 222);
}
