.forwardButton {}

.forwardIconContainer {
  border-radius: 2px;
  padding: 4px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.forwardIcon {
  height: 16px;
}

.enabled:hover .forwardIconContainer {
  background-color: rgb(242 242 242);
}

.enabled:active .forwardIconContainer {
  background-color: rgb(222 222 222);
}

.disabled {}
